.sidebar_container {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.sidebar_content,
.sidebar_content .sidebar_button {
  text-transform: capitalize;
  color: white;
}
.sidebar_content .sidebar_button {
  padding: 15px 25px;
  background-color: rgb(244, 24, 28);
  border: none;
  border-radius: 5px;
  margin-top: 56px;
  font-weight: 600;
}
.sidebar_content .sidebar_button:hover {
  color: rgb(51, 51, 51);
  background-color: white;
}
.sidebar_content .name {
  font-size: 80px;
  margin-bottom: 30px;
}
.sidebar_content .box {
  display: flex;
  font-size: 25px;
  font-weight: bold;
}
.sidebar_content .box .duration {
  padding-left: 15px;
  margin-left: 15px;
  border-left: solid white 1px;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.sidebar_content h1,
.sidebar_content .box > *,
.sidebar_content button {
  animation: fadeIn 1s ease-in-out;
}
.sidebar_content {
  margin-left: 16px;
}
@media (max-width: 768px) {
  .sidebar_container {
    height: 380px;
  }
  .sidebar_content .sidebar_button {
    margin-top: 40px;
  }
}
@media (min-width: 768px) {
  .sidebar_container {
    height: 450px;
  }
}
@media (min-width: 1024px) {
  .sidebar_container {
    height: 500px;
  }
  .sidebar_content .name {
    font-size: 80px;
    margin-bottom: 30px;
  }
}
@media (min-width: 1200px) {
  .sidebar_container {
    height: 605px;
  }
  .sidebar_content {
    margin-left: 40px;
  }
}

@media (min-width: 640px) {
  .sidebar_content .name {
    font-size: 50px;
    margin-bottom: 1.25rem;
  }
  .sidebar_content .box h3 {
    margin-bottom: 0.5rem;
  }
}
@media (min-width: 1500px) {
  .sidebar_content {
    margin-left: 100px;
  }
}
@media (max-width: 640px) {
  .sidebar_content .name {
    font-size: 36px;
    margin-bottom: 0.75rem;
  }
  .sidebar_content .box {
    font-size: 20px;
    flex-direction: column;
  }
  .sidebar_content .box h3:first-child {
    margin-bottom: 0.5rem;
  }

  .sidebar_content .box h3:last-child {
    margin: 0;
    padding: 0;
    border: none;
  }
}
