.title_container{
    margin-bottom: 30px;
}
.title_content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 0 0 8px;
    border-bottom: 0.5px solid rgb(68, 68, 68);
}
