.footer {
    background-color: #12222D;
    padding: 40px 20px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-container-right {
    max-width: 300px;
}

.footer-container-right img {
    width: 120px;
    margin-bottom: 20px;
}

.footer-container-right p {
    line-height: 1.6;
    font-size: 14px;
    color: #ccc;
}

.footer-social {
    margin-top: 20px;
    display: flex;
    gap: 15px;
}

.footer-social a {
    text-decoration: none;
}

.footer-social a i {
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: #ccc;
    font-size: 20px;
}

.footer-social a .fa-facebook {
    background-color: #283F66;
    border: 2px solid #283F66;
}

.footer-social a .fa-twitter {
    background-color: #0399C9;
    border: 2px solid #0399C9;
}

.footer-social a .fa-linkedin {
    background-color: #0D4A85;
    border: 2px solid #0D4A85;
}

.footer-social a .fa-instagram {
    background-color: #FF4081;
    border: 2px solid #FF4081;
}

.footer-social a i:hover {
    color: #fff;
    background-color: #12222D;
}

.footer-container-left {
    flex: 1;
    margin-left: 40px;
}

.footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0 0 20px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.footer-links ul li {
    font-size: 18px;
}

.footer-links ul li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-links ul li a:hover {
    color: red;
}

.footer-icons {
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
}

.footer-icons img {
    width: 150px;
    height: 70px;
    transition: transform 0.3s;
    border: gray 1px solid;
}

.footer-icons img:hover {
    transform: scale(1.1);
}

.footer-bottom-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    font-size: 12px;
    color: #ccc;
}

.footer-bottom-links ul li:not(:last-child)::after {
    content: "|";
    color: #ccc;
    margin-left: 10px;
}

.footer-bottom-links ul li a {
    color: #ccc;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-bottom-links ul li a:hover {
    color: red;
}