@import "normalize.css";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}

body {
  background-color: black;
  transition: all ease 0.3s;
}

@media (min-width: 1500px) {
  :root {
    --next: 7px;
    --quantity: 6;
    --margin: 33px;
    --width: 16.666666%;
    --width_movie: calc(var(--width) - var(--margin));
  }
}

@media (max-width: 1500px) {
  :root {
    --next: 8px;
    --quantity: 5;
    --margin: 32px;
    --width: 20%;
    --width_movie: calc(var(--width) - var(--margin));
  }
}

@media (max-width: 1300px) {
  :root {
    --next: 10px;
    --quantity: 4;
    --margin: 30px;
    --width: 25%;
    --width_movie: calc(var(--width) - var(--margin));
  }
}

@media (max-width: 1024px) {
  :root {
    --next: 13px;
    --quantity: 3;
    --margin: 27px;
    --width: 33.3333%;
    --width_movie: calc(var(--width) - var(--margin));
  }
}

@media (max-width: 768px) {
  :root {
    --next: 20px;
    --quantity: 2;
    --margin: 20px;
    --width: 50%;
    --width_movie: calc(var(--width) - var(--margin));
  }
}