.question_container{
    color: white
}
.question{
    padding: 20px 16px;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
}
.question i{
    transform: rotate(360deg);
    transition: transform ease .5s;
}
.question.active i{
    transform: rotate(180deg);
    transition: transform ease .5s;
}
.question.active{
    background-color: rgb(244, 24, 28);
}
.question,
.extend{
    background-color: black;
}
.extend{
    color: rgb(204, 204, 204);
    padding: 30px;
    font-size: 14px;
    display: block;
    line-height: 2;
}
.extend.hidden{
    display: None;
}