.hidden {
  display: none !important;
}
.main > * {
  width: 100%;
  padding: 50px 15px 0;
  margin: 0 auto;
  position: relative;
}
.main iframe {
  width: 100%;
  height: 40vh;
}
.main .video_box {
  position: relative;
}

.main .video_box .background {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  width: calc(100% - 30px);
  height: calc(100% - 50px);
  position: absolute;
  top: 50px;
  opacity: 1;
  transition: opacity .3s ease;
}
.main .video_box .background.hidden_background {
  opacity: 0;
}
.main .video_box .playButton {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  text-align: center;
  width: 70px;
  height: 70px;
  background-color: rgb(0, 179, 255);
  border-radius: 50%;
}
.main .video_box .playButton i {
  font-size: 50px;
  color: white;
  line-height: 70px;
}
.content_box {
  color: white;
  padding-top: 0;
}
.content_box .highlight {
  color: rgb(244, 24, 28);
  font-size: 18px;
  font-weight: bold;
}
.content_box .direction,
.content_box .starring {
  width: fit-content;
  margin-right: 10px;
}
.content_box .nav .share {
  width: fit-content;
}
.content_box .direc p {
  font-size: 16px;
}
.content_box .direc {
  margin: 20px 0;
}
.content_box > * {
  margin-bottom: 16px;
  font-size: 14px;
  line-height: 2;
}
.content_box .nav {
  margin: 36px 0 0;
  padding: 12px 0;
  border-bottom: 1px solid rgb(221, 221, 221);
  border-top: 1px solid rgb(221, 221, 221);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.content_box .nav > div:last-child {
  display: flex;
  align-items: center;
  justify-content: center;
}
.content_box .nav > div .iconBox {
  display: inline-block;
}

.content_box .nav > div button {
  padding: 0;
  background: none;
}
.content_box .nav > div button:hover {
  background: none;
}
.content_box .nav > div button i {
  font-size: 14px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 100%;
  margin-left: 8px;
}

.content_box .nav > div:first-child button:first-child i {
  background-color: rgb(59, 89, 152);
  border: 1px solid rgb(59, 89, 152);
}
.content_box .nav > div:first-child button:nth-child(2) i {
  background-color: rgb(228, 64, 95);
  border: 1px solid rgb(228, 64, 95);
}
.content_box .nav > div:first-child button:nth-child(3) i {
  background-color: rgb(10, 102, 194);
  border: 1px solid rgb(10, 102, 194);
}
.content_box .nav > div:first-child button:hover i {
  background-color: rgba(0, 0, 0, 0);
}
.content_box .nav > div:last-child button {
  margin-right: 0;
}
.content_box .nav > div:last-child button {
  background-color: rgba(0, 0, 0, 0);
}
.content_box .nav > div:last-child button i {
  font-size: 20px;
}
.content_box .nav > div:last-child button:hover i {
  color: rgb(244, 24, 28);
}
.content_box .nav > div:last-child button.active i {
  color: rgb(244, 24, 28);
}

.movie_container {
  overflow: hidden;
}
.movie_box {
  white-space: nowrap;
}
.movie_box > * {
  display: inline-block;
  width: var(--width_movie);
  margin-right: 40px;
}
.content_box .direc p {
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 0.75rem;
}
.content_box .direc span {
  font-size: 18px;
  font-weight: 600;
}
.content_box > p {
  font-size: 14px;
}
.epsiode_box {
  width: 100%;
}
.container_epsiode {
  padding-bottom: 18px;
  border-bottom: 1px solid rgb(221, 221, 221);
  margin-bottom: 18px;
}
.epsiode_box h1 {
  margin-bottom: 15px;
  font-size: 18px;
}
.epsiode_box .epsiode_all {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}
.epsiode_box .epsiode_all a {
  text-decoration: none;
  color: white;
}
.epsiode_box .epsiode_all .epsiode {
  padding: 4px 8px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  background-color: rgb(18, 34, 45);
  font-size: 13px;
}
.epsiode_box .epsiode_all .epsiode:hover {
  background-color: white;
  color: #000;
}

@media (min-width: 640px) {
  .main > * {
    max-width: 640px;
  }
  .content_box .nav > div button i {
    width: 35px;
    height: 35px;
    line-height: 35px;
  }
}
@media (min-width: 768px) {
  .main > * {
    max-width: 768px;
  }
}
@media (min-width: 1024px) {
  .main > * {
    max-width: 1024px;
  }
}
@media (min-width: 1200px) {
  .main > * {
    max-width: 1200px;
  }
}
