.footer {
  background-color: rgb(18, 34, 45);
  margin-top: 50px;
}
.footer_container {
  display: flex;
  padding: 45px 100px;
}
.footer_container_right {
  flex: 0 0 25%;
}
.footer_container_right p {
  margin: 20px 0;
}
.footer_social i {
  width: 35px;
  height: 35px;

  line-height: 35px;
  text-align: center;
  color: white;
  margin-right: 10px;
}
.footer_social a:nth-child(1) i {
  background-color: rgb(59, 89, 152);
  border: 1px solid rgb(59, 89, 152);
  border-radius: 100%;
}
.footer_social a:nth-child(1):hover i {
  background-color: black;
}
.footer_social a:nth-child(2) i {
  background-color: rgb(0, 179, 236);
  border: 1px solid rgb(0, 179, 236);
  border-radius: 100%;
}
.footer_social a:nth-child(2):hover i {
  background-color: black;
}
.footer_social a:nth-child(3) i {
  background-color: rgb(10, 102, 194);
  border: 1px solid rgb(10, 102, 194);
  border-radius: 100%;
}
.footer_social a:nth-child(3):hover i {
  background-color: black;
}
.footer_social a:nth-child(4) i {
  background-color: rgb(228, 64, 95);
  border: 1px solid rgb(228, 64, 95);
  border-radius: 100%;
}
.footer_social a:nth-child(4):hover i {
  background-color: black;
}

.footer_container_left {
  margin-left: 20px;
}
.footer_container_left .footer_links {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer_container_left .footer_links a {
  color: white;
  text-decoration: none;
}
.footer_container_left .footer_links a:not(:last-child) {
  margin-right: 40px;
}
.footer_container_left .footer_icons {
  padding: 25px 0;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.footer_container_left .footer_icons img {
  border: 1px solid rgb(68, 68, 68);
}

.footer_container_left .footer_bottom_links {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px 20px;
}
.footer_container_left .footer_bottom_links a {
  text-decoration: none;
  color: white;
}
.footer_container_left .footer_bottom_links a:not(:last-child) {
  padding-right: 20px;
  border-right: 1px solid rgb(229, 231, 235);
}
@media (max-width: 1680px) {
  .footer_container_left .footer_icons img:last-child {
    display: none;
  }
}

.footer_container_second {
  border-top: 1px solid rgb(32, 53, 68);
}
.container {
  display: flex;
  justify-content: space-between;
  padding: 20px 16px;
  align-items: center;
}
.footer_container_second .copyright {
  text-transform: capitalize;
}
.footer_container_second .login {
  display: flex;
  align-items: center;
  gap: 20px;
}
.footer_container_second .login a {
  color: white;
  text-decoration: none;
}
.footer_container_second .login a:hover {
  color: rgb(244, 24, 28);
}
.footer_container_second .login button {
  text-transform: capitalize;
  background-color: rgb(244, 24, 28);
}
.footer_container_second .login button:hover {
  background-color: white;
  color: black;
}
