.person_container{
    display: inline-block;
}
.person_container:hover .imgBox{
    img{
        background-color: rgb(255, 218, 132);
    }
    ul{
        left: 26px;
        opacity: 1;
        transition: left ease 1s, opacity ease .3s;
    }
    ul li{
        transform: rotate(360deg);
    }
}
.imgBox{
    position: relative;
}
.imgBox img{
    padding: 10px 25px 0;
}
.content{
    margin-top: 24px;
    color: white;
    text-transform: capitalize;
    text-align: center;
}
.content h4{
    font-size: 20px;
}
.content p{
    font-size: 18px;
    margin-top: 4px;
}
ul{
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 0;
    transition: opacity ease 0.1s;

}
ul li{
    background-color: rgb(255, 198, 27);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    color: white;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transform: rotate(270deg);
    margin-left: 10px;
    transition: transform ease 0.5s;
}